name:  Android Build and Release

on:
  push:
    branches:
      - main 

jobs:
  build:
    name: Build and Release Android APK
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: stable

    - name: Install dependencies
      run: flutter pub get

    - name: Build APK (For Android)
      run: flutter build apk --release

    - name: Upload APK to GitHub Release (For Android)
      if: github.ref == 'refs/heads/main'
      uses: softprops/action-gh-release@v2
      with:
        files: build/app/outputs/flutter-apk/app-release.apk
        asset_name: TimeWise.apk 
      env:
        GITHUB_TOKEN: ${{ secrets.TOKEN }}
